*{
    font-family: 'Poppins';
    margin: 0;
}
body {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    gap: 8%;

}
img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
h2{
    line-height: 100%;
}
#logsvg{
    max-width: 90%;
    max-height: auto;

}
#dp{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    /* background-color: rgb(157, 127, 164) */
}
#donshaji{
    max-width: 90%;
    max-height: 90%;
}

.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:azure; */
}

.buttonA {
    display: flex;
    width: 18vw;
    height: 7vw;
    max-width: 152px;
    max-height: 58px;
    /* background-image: url('src/about\ me.svg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.6s ease, color 0.3s ease;
    cursor: pointer;
}
#aboutMe{
    background-image: url('src/about\ me.svg');
}
#aboutMe:hover{
    background-image: url('src/about\ mev.svg');
}
#contactMe{
    background-image: url('src/Contact\ Me.svg');
}
#contactMe:hover{
    background-image: url('src/Contact\ Mev.svg');
}
#moreAbout{
    background-image: url('src/More\ About.svg');
}
#moreAbout:hover{
    background-image: url('src/More\ Aboutv.svg');
}
#intro{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: left;
    /* background-color:azure; */
}
#textb{
    display: flex;
    flex-direction: column;
    gap: 1%;
}

#mainDe{
    height: fit-content;
    line-height: 100%;
    font-family: 'Plus Jakarta Sans',monospace;
    font-size: 11vw;
    font-weight: 700;
}

#desig{
    letter-spacing: 1vw;
}
.skillsContainer{
    align-items: center;
    width: 95%;
    /* overflow: hidden; */
    white-space: nowrap;
}
#me{
    color: #666666;
}
#skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.eachSkills{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skillLog{
    align-items: center;
    max-width: 3vw;
}
#text3{
    color: #AAAAAA;
    font-weight: 300;
}
#fetures{
    display: flex;
    gap: 3%;
    flex-direction: row;
    width: 95%;
}
.text2{
    font-size: 2vw;
    line-height: 120%;
    font-weight: 600;
}
#text-f{
    height: 100%;
    /* background-color: rgb(255, 244, 240); */
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    justify-content: flex-start ;
    gap: 6%;
}
.exp1{
    display: flex;
    flex-direction: column;
    width: 50vw;
    /* background-color: #c8ffc6; */
    justify-content: space-between;
    gap: 3vw;
   
}
.farea{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    /* margin-bottom: -20%;  */
}
.fh2{
    font-weight: 600;
    font-size: large;
    line-height: 100%;
}
#exp1f1{
    margin-top: 5vw;
}
#exp1f2{
    margin-bottom: 5vw;
}
.fp{
    line-height: 140%;
    font-weight: 300;
    font-size: 1.1vw;
    color: #AAAAAA;
}
.h3{
    font-weight: 700;
    font-size: 2.5vw;
}
#Portfolio{
    padding-top: 8%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color:azure; */
    gap: 1vw;
}
#Portfolio_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
#PortfolioHead{
    display: flex;
    flex-direction: column;
}
.Portfolio_2{
    width: 100%;
    height: 24vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(130, 130, 99); */
    gap: 1%;
}
#clicks{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#loadMore{
    background-image: url('src/Load\ More.svg');
}
#loadMore:hover{
    background-image: url('src/Load\ Morev.svg');
}
#clicksCon{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 6vw;
}
.clickSub{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 2%;
}

@media screen and (max-width: 1024px) {
    body{
        font-size: 12px;
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 480px) {
    body{
        font-size: 8px;
        background-color: rgb(46, 55, 55);
    }
}