*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #603600;
  }
  p{
    font-size: 15px;
  }
  body{
    background-image: linear-gradient(to right, #fffca7 0%, #ffcc91 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(204, 181, 181); */
    width: 70%;
    height: 100%;
    gap: 50px;
  }
  .top-bar{
    width: 100%;
    /* background-color: aquamarine; */
    background-image: linear-gradient(to right, #fffca7b6 0%, #ffcc91b1 100%);
    position: fixed;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    top:0px;
  }
  .get-resume{
    font-size: 15px;
  }
  button{
    margin: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 226, 173);
    padding: 4px 12px;
    border-radius: 6px;
    color: #603600;
    font-size: 0.9rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  button:hover{
    background-color:  rgb(255, 241, 205);
  }
  .about{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* background-color: #603600; */
  }
  .get-resume-button{
    margin-left: 0px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }
  .pic{
    width: 30%;
    margin: 0px;
    padding: 0px;
    min-width: 150px;
  }
  .about-content{
    gap: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #fffca7; */
  }
  .dis{
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .con-skill{
    width: 100%;
  }
  .skills{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: #fffca7; */
    justify-content: space-between;
  }
  .skill-card{
    border-radius: 3px;
    margin: 3px 5px;
    height: 35px;
    width: 30px;
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #skill-card-1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/459px-ISO_C%2B%2B_Logo.svg.png);
  }
  #skill-card-2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqVLmE3p-8lbW83VhcU7I9DwXg1r1O_wNzZ8xIAd71Sw&s);
  }
  #skill-card-3{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/768px-CSS3_logo.svg.png?20210705212817);
  }
  #skill-card-4{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/1024px-HTML5_Badge.svg.png);
  }
  #skill-card-5{
    background-image: url(https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg);
  }
  #skill-card-6{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/600px-Figma-logo.svg.png);
  }
  #skill-card-7{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/2101px-Adobe_Photoshop_CC_icon.svg.png);
  }
  .projects{
    width: 100%;
    /* background-color: #fffca7; */
  }
  .project-card{
    display: flex;
    margin: 10px 0px;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    /* background-color: aqua; */
    justify-content: left;
  }
  .project-img{
    height: 120px;
    width: 200px;
    /* background-color: #603600; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
  }
  .project-dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*  */
  #p1{
    background-image: url(src/rectangle-450.png);
  }
  #p2{
    background-image: url(src/rectangle-490.png);
  }
  #p3{
    background-image: url(src/rectangle-390.png);
  }
  #p4{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrT9I0ozfEVS53lmnTw3JSESSVyltjxvw8qDzbHQZBhg&s);
  }
  #p5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWDhhKjlkBr5rqQfoHKYyjicKdazfSTwJsxXImHD2r1A&s);
  }
  .center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clear-margin{
    margin: 0px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .footer-link{
    width: 60%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap:30px;
    margin: 30px 0px;
  }
  .footer-icon{
    height: 40px;
    width: 40px;
    /* background-color: aqua; */
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 100%;
  }
  #icon1{
   background-image: url(https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png);
  }
  #icon2{
    border-radius: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png);
  }
  #icon3{
    background-image: url(https://seeklogo.com/images/B/behance-icon-logo-E2F066C7C9-seeklogo.com.png);
  }
  #icon4{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png);
  }
  #icon5{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png);
  }
  
  @media screen and (max-width: 767px) {
    .content{
        width: 90%;
    }
    *{
      font-size: 13px;
    }
    .about{
      justify-content: center;
    }
  }
  /* 425 */
  @media screen and (max-width: 425px) {
    .pic{
      min-width: 120px;
      height: 160px;
    }
    h2{
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1024px) {
    .project-card{
      gap: 7%;
    }
    .footer-img{
      min-height: 100px;
    }
  }
  
