*{
    font-family: 'Poppins';
}
body {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    gap: 4%;

}
img {
    max-width: 100%;
    height: auto;
  }
h2{
    line-height: 100%;
}
#dp{
    display: flex;
    flex-direction: row;
    /* -ms-flex-align: start; */
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: aqua */
}
#donshaji{
    max-width: 70%;
    max-height: auto;
}

.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:azure;
}

.buttonA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 6dvw;
    max-width: 150px;
    max-height: 45px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    font-size: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
#textb{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 1%;
}
.buttonA:hover {
    background-color: #ffae18;
    color: rgb(0, 0, 0);
}
#intro{
    width: 95%;
    display: flex;
    /* justify-content: space-between; */
    background-color:rgb(255, 240, 252);
}
#mainDe{
    height: fit-content;
    line-height: 100%;
    /* background-color: #ffae18; */
    font-family: 'Plus Jakarta Sans',monospace;
    font-size: 11vw;
    /* color: linear-gradient(to bottom, #3498db, #2ecc71); */
    font-weight: 700;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */

}

#desig{
    letter-spacing: 1vw;
}
.skillsContainer{
    align-items: center;
    width: 95%;
    /* overflow: hidden; */
    white-space: nowrap;
}
#skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
}
.eachSkills{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skillLog{
    align-items: center;
    max-width: 3vw;
}
#text3{
    color: #AAAAAA;
    font-weight: 300;
}
#fetures{
    display: flex;
    gap: 3%;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 95%;
}
#text2{
    font-size: 3vw;
    line-height: 120%;
    font-weight: 500;
}
#text-f{
    height: 100%;
    /* background-color: rgb(255, 244, 240); */
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    justify-content: flex-start ;
    gap: 6%;
}
.exp1{
    display: flex;
    flex-direction: column;
    width: 50vw;
    /* background-color: #c8ffc6; */
    justify-content: space-between;
    gap: 5vw;
   
}
.farea{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    /* margin-bottom: -20%;  */
}
.fh2{
    font-weight: 600;
    font-size: large;
    line-height: 100%;
}
#exp1f1{
    margin-top: 7vw;
}
#exp1f2{
    margin-bottom: 7vw;
}
.fp{
    line-height: 140%;
    font-weight: 300;
    font-size: 1.1vw;
    color: #AAAAAA;
}
@media screen and (max-width: 1024px) {
    body{
        font-size: 12px;
        background-color: rgb(85, 213, 213);
    }
}
@media screen and (max-width: 480px) {
    body{
        font-size: 8px;
        background-color: rgb(46, 55, 55);
    }
}